# کۆنفیگی Frontend

# لینکی API
# بۆ بەکارهێنان لە کۆمپیوتەر:
REACT_APP_API_URL=http://localhost:5000/api

# بۆ بەکارهێنان لە مۆبایل (IP ی کۆمپیوتەرەکەت دابنێ):
# REACT_APP_API_URL=http://192.168.1.100:5000/api
